<h2>Patients Registered In The Department</h2>

{{#ifEquals user.role 'Admin'}}
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>P_Code</th>
            <th>Operation Type</th>
            <th>Operation Date</th>
            <th>Responsible Doctor</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>Alvin</td>
            <td>Eclair</td>
            <td>$0.87</td>
            <td>Doctor 1</td>
        </tr>
        <tr>
            <td>Alan</td>
            <td>Jellybean</td>
            <td>$3.76</td>
            <td>Doctor 2</td>
        </tr>
        <tr>
            <td>Jonathan</td>
            <td>Lollipop</td>
            <td>$7.00</td>
            <td>Doctor 3</td>
        </tr>
    </tbody>
</table>
{{/ifEquals}}

{{#ifEquals user.role 'Patient'}}
    <h4>You are not allowed to see all the patients</h4>
{{/ifEquals}}