<h2>Your Doctor</h2>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>D_Code</th>
            <th>Dev_Code</th>
            <th>Examine Patients</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>Alvin</td>
        </tr>
        <tr>
            <td>Alan</td>
        </tr>
        <tr>
            <td>Jonathan</td>
        </tr>
    </tbody>
</table>